<ion-header>

    <ion-toolbar color="primary">
        <ion-title>
            Semsters
        </ion-title>

        <ion-buttons slot="start">
            <ion-button>
                <ion-icon slot="icon-only" name="list"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button>
                <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>

            <ion-button>
                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>


<ion-content padding center text-center>

    <ion-item>
        <ion-label>Student 1</ion-label>
        <ion-label slot="end">CGPA = 3.40</ion-label>
    </ion-item>

    <ion-card>
        <ion-item>
            <ion-label>Semester 1</ion-label>
            <ion-label slot="end">GPA=3.40</ion-label>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-label>Semester 2</ion-label>
            <ion-label slot="end">GPA=3.33</ion-label>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-label>Semester 3</ion-label>
            <ion-label slot="end">GPA=3.20</ion-label>
        </ion-item>
    </ion-card>


</ion-content>