<ion-header>

    <ion-toolbar color="primary">
        <ion-title>
            Semsters
        </ion-title>

        <ion-buttons slot="start">
            <ion-button>
                <ion-icon slot="icon-only" name="list"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button>
                <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>

            <ion-button>
                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="logout()">
                <ion-icon name="exit"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>


<ion-content padding center text-center>

    <ion-item>
        <ion-label>Welcome Student1</ion-label>
        <ion-label slot="end">CGPA = ()</ion-label>
    </ion-item>

    <div *ngIf="gpa.length > 0" class="list-mini">
        
          <ion-item *ngFor="let item of gpa">   
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div>
                    <ion-label>{{item.payload.doc.data().gpa}}</ion-label>
                  </div>
                </ion-col>
                
              </ion-row>
              </ion-grid>
            
            </ion-item>
        
  
        
        
      
        
        
      </div>



    <ion-button color="primary" fill="clear"expand="block" (click)="goToSubPage()">Semester 1 - GPA : () </ion-button>







</ion-content>