<ion-header>

    <ion-toolbar color="primary">
        <ion-title>
            Subjects
        </ion-title>
        <ion-buttons slot="start">
            <ion-button>
                <ion-icon slot="icon-only" name="list"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button>
                <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>

            <ion-button>
                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>

        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content padding>
    <h5>Student() Semester()</h5>
    <h5>Subjects :  3</h5>
    <h5> Credit Hours : 9</h5>
    <form [formGroup]="subject_form" (ngSubmit)="onSubmit(subject_form.value)">
        <ion-item>
            <ion-input placeholder="Sub Name" type="text" formControlName="subName"></ion-input>
            <ion-input placeholder="Sub Code" type="text" formControlName="subCode"></ion-input>
            <ion-input placeholder="Credit Hour" type="text" formControlName="creditHour"></ion-input>
        </ion-item>
        <ion-button class="submit-btn" expand="block" type="submit">Submit</ion-button>



    </form>
    <ion-button color="danger" expand="block" (click)="goToSemPage()">Back</ion-button>


    <ion-content *ngIf="subjects" class="list-mini-content" padding>
        <div *ngIf="subjects.length > 0" class="list-mini">
          <ion-list>
            <ion-item *ngFor="let item of subjects" [routerLink]="['/details', item.payload.doc.id]">   
              
              <ion-label>{{item.payload.doc.data().subName}}</ion-label>
              <ion-button fill="clear" slot="end">Details</ion-button>
            </ion-item>
          </ion-list>
        </div>
        <div *ngIf="subjects.length == 0" class="empty-list">
          Please add subject
        </div>
      </ion-content>






</ion-content>
