<ion-header>

    <ion-toolbar color="primary">
        <ion-title>
            Subjects
        </ion-title>
        <ion-buttons slot="start">
            <ion-button>
                <ion-icon slot="icon-only" name="list"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button>
                <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>

            <ion-button>
                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>

        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content padding>
    <h5>Student() Semester()</h5>
    <h5>Subjects :  3</h5>
    <h5> Credit Hours : 9</h5>
    <form [formGroup]="subject_form" (ngSubmit)="onSubmit(subject_form.value)">
        <ion-item>
            <ion-input placeholder="Sub Name" type="text" formControlName="subName"></ion-input>
            <ion-input placeholder="Sub Code" type="text" formControlName="subCode"></ion-input>
            <ion-input placeholder="Credit Hour" type="number" formControlName="creditHour"></ion-input>
            <ion-input placeholder="Grade" type="number" formControlName="grade"></ion-input>
        </ion-item>
        <ion-button class="submit-btn" expand="block" type="submit">Submit</ion-button>



    </form>
    <ion-button color="primary" expand="block" (click)="goToSubListPage()">SubjectList</ion-button>
    <ion-button color="danger" expand="block" (click)="goToSemPage()">Back</ion-button>


   






</ion-content>
