<ion-header>

    <ion-toolbar color="primary">

        <ion-buttons slot="start">
            <ion-button>
                <ion-icon slot="icon-only" name="list"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button>
                <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>

            <ion-button>
                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>

        </ion-buttons>
    </ion-toolbar>

</ion-header>


<ion-content padding center text-center>
    <ion-card color="gray">
        <ion-item>
            <ion-label>Student 1</ion-label>
            <ion-label slot="end">CGPA=3.40</ion-label>
        </ion-item>
    </ion-card>

    <ion-card color="gray">
        <ion-item>
            <ion-label>Student 2</ion-label>
            <ion-label slot="end">CGPA=3.33</ion-label>
        </ion-item>
    </ion-card>

    <ion-card color="gray">
        <ion-item>
            <ion-label>Student 3</ion-label>
            <ion-label slot="end">CGPA=2.90</ion-label>
        </ion-item>
    </ion-card>

</ion-content>