<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Setting</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h3>Grade System</h3>

    <ion-card>
        <ion-item>
            <ion-icon item-left></ion-icon><ion-label>Grade A: GPA 4.00 </ion-label>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-icon item-left></ion-icon><ion-label>Grade A-: GPA 3.67</ion-label>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-icon item-left></ion-icon><ion-label>Grade B+: GPA 3.33</ion-label>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-icon item-left></ion-icon><ion-label>Grade B: GPA 3.00</ion-label>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-icon item-left></ion-icon><ion-label>Grade B-: GPA 2.67</ion-label>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-icon item-left></ion-icon><ion-label>Grade C+: GPA 2.33</ion-label>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-icon item-left></ion-icon><ion-label>Grade C: GPA 2.00</ion-label>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-icon item-left></ion-icon><ion-label>Grade D: GPA 1.67</ion-label>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-icon item-left></ion-icon><ion-label>Grade D-: GPA 1.33</ion-label>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-icon item-left></ion-icon><ion-label>Grade E: GPA 1.00</ion-label>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-icon item-left></ion-icon><ion-label>Grade F: GPA 0.00</ion-label>
        </ion-item>
    </ion-card>

    <ion-button color="danger" (click)="backHome()">Return </ion-button>
</ion-content>
